.tourism-row {
	display: flex;
	flex-direction: row;
	gap: 24px;
	padding: 16px 0;
}

.tourism-identy-page .factoid-row {
	color: var(--color-accent);
	--factoid-padding: 16px 0;
	--grid-gap: 16px;
}

.tourism-identy-page .factoid-row a.factoid {
	color: var(--color-accent);
	border: none;
}
.tourism-identy-page .factoid-row a.factoid:hover {
	filter: brightness(0.8);
}
