.right-now-i-do {
	position: relative;
	background: #e4faff;
}

.right-now-i-do__title {
	font-size: 18px;
	line-height: 1;
}

@media (min-width: 768px) {
	.right-now-i-do__title {
		font-size: 24px;
	}
}

.right-now-i-do__deal {
	font-size: 32px;
	font-weight: 400;
	line-height: 1.5;
}

@media (min-width: 768px) {
	.right-now-i-do__deal {
		font-size: 64px;
	}
}

.right-now-i-do__anons {
	position: absolute;
	bottom: 24px;
	right: 24px;
	font-size: 18px;
	line-height: 31px;
}

@media (min-width: 768px) {
	.right-now-i-do__anons {
		font-size: 24px;
	}
}
