.vk-paragraph {
	margin: 0;
	font-size: 15px;
	line-height: 20px;
	color: #000;
	max-width: 45rem;
}

.vk-paragraph + .vk-paragraph {
	margin-top: 8px;
}

.vk-paragraph--secondary {
	color: #818c99;
}

.vk-paragraph--caption {
	font-size: 13px;
	line-height: 16px;
	color: #818c99;
}
