.nokia {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: #e5e5e54d;
}

@media (min-width: 720px) {
	.nokia {
		flex-wrap: nowrap;
	}
}

.nokia__content {
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 720px) {
	.nokia__content {
		max-width: 50rem;
	}
}
