.obuchenie-list {
	margin: 0 auto;
	max-width: 45rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.obuchenie-list__link {
	padding: .5rem 0;
	margin-bottom: .5rem;
	display: block;
	transition: all 150ms ease-in;
}

.obuchenie-list__link:hover {
	color: #000;
}
