.album-list {
	flex-wrap: wrap;
	display: flex;
}

.album-list__item.album {
	border: 0;
	display: flex;
	flex-direction: column;
	/* TODO: [LIGHT] внедрить --grid-width */
	width: calc(25% - 30px);
	max-width: 290px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 40px;
	position: relative;
}

.album__name {
	background: linear-gradient(rgba(21, 216, 234, .3), rgba(32, 73, 185, .9));
	color: #fff;
	padding: 5px 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.album__image {
	min-height: 210px;
	width: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

