.choose-input {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.choose-input__choosed {
}

.choose-input__title {
	display: inline-block;
	color: #565656;
	margin-right: .5rem;
}

.choose-input__choose {
	display: flex;
	flex-wrap: wrap;
}

.choose-input__save {
	margin-top: .25rem;
}

.choose-input__button {
	border: 1px solid #ccc;
	border-radius: .3rem;
	cursor: pointer;
}

.choose-input__button:hover {
	background: #d5d5d5;
}

.choose-input-create {
}

.choose-input__done {
	background: #11b32c;
	color: #fff;
	padding: 6px 12px;
}

.input__fail {
	background: #bf1930;
	color: #fff;
	padding: 6px 12px;
}
