.grid-tile {
	--grid-count: 6;
	--grid-gap: 16px;

	display: flex;
	gap: calc(var(--grid-gap) / 4);
	flex-direction: column;
	color: #000;
	border-bottom: none;
	grid-column: span var(--grid-count);
	background: #ffffff;
	border: 1px solid #c8c8c8;
	border-radius: 8px;
	padding: var(--grid-gap);
}
@media (min-width: 768px) {
	.grid-tile {
		--grid-count: 3;
	}
}
@media (min-width: 1280px) {
	.grid-tile {
		--grid-count: 2;
	}
}
@media (min-width: 1520px) {
	.grid-tile {
		--grid-count: 1;
	}
}

.grid-tile--archive {
	opacity: .85;
}

.grid-tile:hover {
	background: #ffffffa8;
	border: 1px solid #8f8f8f;
}

.grid-tile__title {
	font-size: 18px;
}

.grid-tile__title sup {
	font-size: 65%;
}

.grid-tile__description {
	font-size: 14px;
	line-height: 1.4;
}
