.emailer-tool {
	background:
	radial-gradient(ellipse at 20% 30%, #64ff242e, transparent),
	radial-gradient(ellipse at 90% 80%, #ff3aaf42, transparent),
	#003149
	;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font: 400 21px/1.3 Alegreya sans, PT Sans, Tahoma, Sans-Serif;
	height: 100vh;
	color: #fff;
}

.emailer-tool .inner-from-container {
	width: 100%;
	max-width: 55rem;
}

.emailer-tool .inner-from-container form {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 0;
}
.emailer-tool .field__container {
	width: 100%;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	flex: 1 0 50%;
}
.emailer-tool .field__label-container {
	flex: 0 0 140px;
}
.emailer-tool .field__content {
	flex: 1;
}
.emailer-tool .field__input {
	width: 100%;
	background: #ffffff12;
	border: 1px solid #dddddd30;
	padding: 8px;
	color: #fff;
	font-size: 18px;
	font-family: 'Alegreya Sans';
	border-width: 1px 0 1px 1px;
	border-radius: 4px 0 0 4px;
}
.emailer-tool .my-button {
	margin-left: -1px;
	border-radius: 0px 8px 8px 0;
}
.emailer-tool .my-button {
	margin-left: 0;
	border-radius: 0px 8px 8px 0;
	background: #ffffff12;
    border: 1px solid #dddddd30;
	border-width: 1px 1px 1px 0;
	padding: 11px 16px;
}
.emailer-tool .my-button:hover {
	background: #ffffff20;
}

.emailer-tool .main-menu {
	color: #fff;
	margin: 0;
	padding: 0;
}

.emailer-tool .main-menu li {
	display: inline-block;
	list-style: none;
	margin-right: 15px;
}

.emailer-tool .main-menu a {
	color: #fff;
	border-color: #ffffff63;
	opacity: .75;
}

.emailer-tool .main-menu a:hover {
	border-color: #ffff;
	opacity: 1;
}

.emailer-tool .mayAbout {
	margin-top: 4em;
	color: #fff;
}

.emailer-tool .mayList {
	text-align: left;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	list-style-type: none;
	line-height: 1.7;
	color: #fff;
	font-size: 1.2rem;
}

.emailer-tool .mayAbout a {
	color: #fff;
}

.emailer-tool .mayAbout a:hover {
	opacity: .8;
}

