.hiring-response-page {
	font-family: 'Alegreya Sans', sans-serif;
}

.hiring-response-page h2 {
	margin-top: 24px;
	margin-bottom: 0;
}

.hiring-response-page .factoid {
	color: #1a439b;
}

.chart-wrapper {
	box-shadow:
		0 16px 36px -8px rgba(0, 0, 0, .05),
		0 24px 16px -24px rgba(0, 0, 0, .1),
		0 36px 8px -36px rgba(0, 0, 0, .15)
		;
}
