.tourism-custom-list {
	display: flex;
	flex-direction: row;
	gap: 16px;
}
.tourism-custom-list__item {
	display: flex;
	gap: 16px;
	width: 320px;
	font-feature-settings: 'lnum', 'tnum';
}
span.tourism-custom-list__item {
	border-bottom: 1px solid #ffffff0d;
}
a.tourism-custom-list__item {
	border-bottom: 1px solid #DEB8879f;
}
a.tourism-custom-list__item:hover {
	border-bottom-color: 1px solid var(--color-accent);

}
.tourism-custom-list__bullet {
	color: var(--color-accent);
	font-weight: 800;
}
