.page.list-list {
	background: #e2e2e2;
	overflow: hidden;
}

.element-node {
	padding-left: 2rem;
	max-width: 45rem;
	margin: 0 auto;
}

.element-node__parent {
	margin-left: -2rem;
	margin-top: 16px;
	margin-bottom: 24px;
	font-size: 85%;
}

.element-node__meta,
.element-node__meta a {
	font-size: .8rem;
	color: rgba(0, 0, 0, .75);
}

.element-node__meta a,
.element-node__meta .pseudo-link {
	cursor: pointer;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, .35)
}

.element-node__meta a:hover,
.element-node__meta .pseudo-link:hover {
	color: rgba(0, 0, 0, 1);
}

.element-node__data {
	background: #fff;
	padding: 8px 16px 4px 24px;
}

.element-node__link {
	display: flex;
	gap: 8px;
}

.element-node__values {
	/* margin-left: 24px; */
	background: rgb(205 220 57 / 15%);
	padding: 12px 12px 12px 24px;
	border-radius: 6px;
	display: flex;
	gap: 6px;
	flex-direction: column;
}
.element-node__value {
	display: flex;
	gap: 16px;
	font-size: 75%;
}
.element-node__value-group {
	opacity: .5;
}