.list-list-identity-page {
	background: #fff;
	padding: 32px 0;
}

.element-node {
	--padding: 16px;

	padding-left: var(--padding);
	max-width: 45rem;
	margin: 0 auto;
}

.element-node__parent {
	margin-left: calc(-1 * var(--padding));
	margin-top: var(--padding);
	margin-bottom: var(--padding);
	font-size: 85%;
}

.element-node__element {
	display: flex;
	gap: 4px;
	flex-direction: row;
	padding: 8px 16px 4px 24px;
}

.element-node__tech-info {
	max-width: 60px;
	width: 100%;
	text-align: right;
}

.element-node__id {
	display: inline-block;
	margin-right: 1rem;
	font-size: 12px;
	opacity: .2;
}

.element-node__main-info {
	width: 100%;
}

.element-node__admin-controll {
	opacity: .2;
	transition: all 100ms ease-out;
}

.element-node__element:hover .element-node__admin-controll {
	opacity: 1;
}


.element-node__meta a,
.element-node__meta .pseudo-link {
	cursor: pointer;
	font-size: .8rem;
	color: rgba(0, 0, 0, .65);
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, .35)
}

.element-node__meta a:hover,
.element-node__meta .pseudo-link:hover {
	color: #000;
	border-color: #000;
}

.element-node__child-count {
	font-size: .8rem;
	color: rgba(0, 0, 0, .65);
}

.element-node__admin-controll {
	display: flex;
	gap: 8px;
}

.element-node__values {
	/* margin-left: 24px; */
	background: rgb(205 220 57 / 15%);
	padding: 12px 12px 12px 24px;
	border-radius: 6px;
	display: flex;
	gap: 6px;
	flex-direction: column;
}
.element-node__value {
	display: flex;
	gap: 16px;
	font-size: 75%;
}
.element-node__value-group {
	opacity: .5;
}
