.workers-tree {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 8px;
}
.workers-tree h3 {
	margin: 0;
}

.company-groups {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.company-group {
	display: flex;
	flex-direction: column;
}

.company-name {
	font-weight: 800;
}

.role-groups {
	margin-left: 16px;
}

.role-group {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.role-name {
	color: #555;
}

.worker-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
}

.worker-tag {
	margin: 0;
}

/* .worker-tag {
	cursor: pointer;
	background-color: #f5f5f5;
	padding: 6px 12px;
	border-radius: 4px;
	transition: background-color 0.2s;
}

.worker-tag:hover {
	background-color: #e0e0e0;
} */
