.faq-gallery {
	background: #79001f;
	padding-top: 16px;
	padding-bottom: 72px;
	padding-left: 24px;
	padding-right: 24px;
	color: #fff;
}

.faq-gallery__header {
	font-size: 32px;
	line-height: 1.2;
}

.faq-gallery__gallery {
	padding-top: 24px;
	padding-bottom: 24px;
}

.faq-gallery__link {
	display: flex;
	width: 100%;
	height: 100%;
	background: radial-gradient(100% 100% at 100% 0%, rgba(255, 68, 116, 0.4) 8.33%, rgba(253, 87, 130, 0) 56.38%), #C00032;
	color: #fff;
	padding: 16px;
	border: none;
	white-space: normal;
	color: #fff;
	transition: all 100ms ease-in;
	font-size: 24px;
}

.faq-gallery__link:hover {
	padding-top: 24px;
	background: radial-gradient(100% 318.3% at 100% 0%, rgba(255, 68, 116, 0.4) 8.33%, rgba(253, 87, 130, 0) 67.19%), #C00032;
}
