.hiring-response-page .inner-from-container {
	padding: 16px;
}

.hiring-response-form__meta {
	display: flex;
	gap: 16px;
}
.hiring-response-form__meta .field__input-container {
	min-width: 200px;
}

.hiring-response-form__meta .field__input {
	width: 200px;
}

.hiring-response-page .field__content,
.hiring-response-page .field__main {
	flex: 1 1 auto;
}
.hiring-response-page textarea.field__input {
	height: 450px;
	max-width: 100%;
	overflow: scroll;
}
