.whish-list {
	background: #ff1313;
	font-size: 10vw;
	line-height: 1.2;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	.whish-list {
		font-size: 10vw;
	}
}

@media (min-width: 1380px) {
	.whish-list {
		font-size: 13vw;
	}
}

.whish-list__link {
	color: #fff;
	border-color: #ffffff59;
	letter-spacing: -.02em;
	transition: all 100ms ease-in;
}

.whish-list__link:hover {
	border-color: #fff;
	letter-spacing: .01em;
}
