.tourism-visited-anons {
	position: relative;
	background: repeating-linear-gradient(-45deg, #7f7f7f1f, transparent 250px);
	min-height: 60vh;
	display: flex;
	align-items: center;
}

.tourism-visited-anons .text-container {
	text-align: center;
	font-size: 24px;
}

.tourism-visited-anons__icon {
	height: 35px;
	margin-right: .3em;
	vertical-align: text-bottom;
}

@media (min-width: 768px) {
	.tourism-visited-anons .text-container {
		font-size: 40px;
	}
}

.tourism-visited-anons__link {
	z-index: 3;
}

.tourism-visited-anons__image img {
	position: absolute;
	bottom: 10%;
	right: 5%;
	width: 350px;
	opacity: 0.05;
}

.tourism-visited-anons__icon--mini {
	height: 25px;
	vertical-align: text-bottom;
	margin-right: .3em;
}
.tourism-walk-anons .text-container {
	font-size: 24px;
}

.tourism-walk-anons h2 {
	font-size: 36px;
}

.tourism-walk-anons .tourism-visited-anons__icon--mini {
	height: 36px;
}

.tourism-walk-anons .text-container {
	max-width: 32rem;
}

.tourism-father .text-container {
	text-align: center;
	font-size: 24px;
}

@media (min-width: 768px) {
	.tourism-father .text-container {
		font-size: 40px;
	}
}
