.tool-page {
	display: flex;
	min-height: 100vh;
}

.tool-page__sidebar {
	width: 35%;
	min-width: 340px;
	box-shadow:
		32px 0px 32px -16px rgba(0, 0, 0, .15),
		8px 0px 8px -16px rgba(0, 0, 0, .45);
	padding: 16px;
}

.tool-page__content {
	width: 100%;
	background-color: #f2f2f2a3;
}

.tool-page__content pre {
	font-size: 12px;
}

.tool-page__sidebar textarea.field__input {
	min-width: 300px;
	min-height: 400px;
}
