.nokia__menu {
	width: 100%;
	position: sticky;
	top: 48px;
	z-index: 1;
	backdrop-filter: blur(6px);
	background-color: rgba(255, 255, 255, .70);
	box-shadow: 0 2px 4px -2px rgb(0, 0, 0, .05),
		0 6px 12px -4px rgb(0, 0, 0, .05),
		0 18px 36px -8px rgb(0, 0, 0, .05);
}

@media (max-width: 576px) {
	.nokia__menu {
		top: 32px;
	}
}

.menu {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 auto 30px auto;
	flex-direction: row;
	width: 100%;
}

@media (min-width: 720px) {
	.menu {
		flex-direction: column;
	}
}

.menu__item {
	color: #2d2d2d;
	cursor: pointer;
	transition: all 150ms ease-in;
	text-decoration: none;
	border-bottom: 1px solid rgba(104, 104, 104, .15);
}

.menu__item:hover {
	color: #2d2d2d;
	border-bottom: 1px solid rgba(104, 104, 104, .75);
}

.menu__item--active {
	color: #004795;
	border-bottom: 1px solid #004795;
}
