.factoid-row {
	--grid-count: 4;
	--grid-gap: 32px;

	--factoid-padding: 16px;
	--factoid-width: 140px;
	--factoid-font-size: 300%;
	--factoid-dimension-font-size: 85%;
	--factoid-description-font-size: 85%;

	padding: var(--factoid-padding);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: var(--grid-gap);
}

.factoid-row--mini {
	--factoid-width: 140px;
	--factoid-font-size: 300%;
	--factoid-dimension-font-size: 85%;
	--factoid-description-font-size: 85%;
}

@media (min-width: 768px) {
	.factoid-row:not(.factoid-row--mini) {
		--factoid-width: 270px;
		--factoid-font-size: 800%;
		--factoid-dimension-font-size: 120%;
		--factoid-description-font-size: 100%;
	}
}

.factoid {
	display: flex;
	flex-direction: column;
	width: calc((100% - ((var(--grid-count) - 1) * var(--grid-gap))) / var(--grid-count));
	min-width: var(--factoid-width);
}
.factoid__digit {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 2px;
}
.factoid__digit-counter {
	font-size: var(--factoid-font-size);
	line-height: 0.75;
	font-feature-settings: 'lnum', 'tnum';
}
.factoid__digit-dimension {
	font-size: var(--factoid-dimension-font-size);
	opacity: .7;
}
.factoid__description {
	font-size: var(--factoid-description-font-size);
	line-height: 1.1;
}
