/* TODO: [LIGHT] внедрить --grid-width */
/*
	@media (min-width: 576px | 720px | 1024px | 1380px | 1600px) {
	--grid-count: 1;
	--grid-gap: 16px;
	width: calc((100% - ((var(--grid-count) - 1) * var(--grid-gap))) / var(--grid-count));
	gap: var(--grid-gap);
*/
.poster {
	height: 58vw;
	width: 33%;
}

.poster:hover {
	z-index: 1;
}

@media (min-width: 1380px) {
	.poster {
		width: 25%;
		height: 48vw;
	}
}
