.tag {
	color: var(--tag-color, #0072ff);
	border-radius: 5px;
	background:  var(--tag-bgcolor, #e5f1ff);
	text-decoration: none;
	border: none;
	display: inline-block;
	padding: var(--tag-padding, 3px 11px);
	margin-bottom: 6px;
	margin-right: 6px;
	font-size: calc(1rem / 1.14285714);
	cursor: pointer;
}

.tag--untouch {
	cursor: default;
}

.tag:not(.tag--untouch):hover {
	background: var(--tag-bgcolor--hover, #cbe3fe);
}

.tag--active {
	background: var(--tag-bgcolor--active, #a8d2ff);
}
