.message {
	box-shadow: 0 0 1px 0 rgb(0 0 0 / 50%);
	border-radius: 4px;
	padding: 4px 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 16px;
}

.message {
	background: #FFF8EA;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 2px 16px rgba(0, 0, 0, 0.03);
	color: #362400;
}

.message.result {
	background: #F9F9F9;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 2px 16px rgba(0, 0, 0, 0.03);
	color: ##313131;
}

.message.error {
	background: #FFE4E4;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 2px 16px rgba(0, 0, 0, 0.03);
	color: #470000;
}

.message.success {
	background: #E1FFDE;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 2px 16px rgba(0, 0, 0, 0.03);
	color: ##054000;
}

.pet-project {
	padding-top: 3rem;
	padding-bottom: 6rem;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-start;
	background: #edf2f7;
}

.pet-project form.container {
	display: flex;
	flex-direction: column;
	grid-gap: 0;
	width: 100%;
	max-width: 768px;
}

.pet-project form.container > div {
	margin-bottom: 8px;
}

.pet-project form.container label {
	display: block;
	margin-bottom: -8px;
	font-size: 85%;
	opacity: .7;
}

.pet-project textarea {
	width: 100% !important;
	min-height: 150px;
}
