.gallery-comoji {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.comoji {
	width: fit-content;
	margin: 0 1rem 1rem 0;
}

.comoji__content:hover {
	transform: scale(.9);
}

.comoji__content {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 300ms ease-out;
	overflow: hidden;
	white-space: pre;
	cursor: text;

	padding: 1.3rem 1.3rem;
	min-width: 6rem;
	border-radius: .4rem;
}

@media (min-width: 1024px) {
	.comoji__content {
		min-height: 16rem;
		padding: 1rem 4rem;
		border-radius: 1rem;
		font-size: 3rem;
	}
}
