.project-viewer__tags {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 1cm calc(50% - 950px / 2);
	max-width: 100%;
	background: #cddc3926;
}

.project-viewer__credits {
	--credits-gap: 16px;
	--credits-row: 4;

	display: flex;
	flex-wrap: wrap;
	gap: var(--credits-gap);
	margin: 0;
	padding: 24px calc(50% - 950px / 2);
	max-width: 100%;
	background: #cddc3926;
}

.portfolio-person {
	/* TODO: внедрить --grid-width */
	max-width: calc((100% - ((var(--credits-row) - 1) * var(--credits-gap))) / var(--credits-row));
	width: 100%;
	font-size: 16px;
}

.portfolio-person__role {
	font-size: 85%;
}

.credits {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	justify-content: center;
	background: rgba(245, 220, 131, 0.1);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.credits:before {
	content: 'В главных ролях:';
	width: 100%;
	margin-bottom: 1rem;
	padding-left: calc((100% - 45rem) / 2);
	padding-right: calc((100% - 45rem) / 2);
}

.credits__columns {
	margin-left: 1rem;
	margin-right: 1rem;
}

.credits__columns:first-child {
	margin-left: 0;
}

.credits__columns:last-child {
	margin-right: 0;
}
.credits__item {
	flex: 1 1 200px;
	margin-right: 15px;
	margin-bottom: 15px;
}

