.project-viewer {
	--width: 950px;
}

.project-viewer__tags {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 1cm calc(50% - var(--width) / 2);
	max-width: 100%;
	background: #cddc3926;
}

.project-viewer__credits {
	--grid-count: 4;
	--grid-gap: 16px;

	display: flex;
	flex-wrap: wrap;
	gap: var(--grid-gap);
	margin: 0;
	padding: 24px calc(50% - var(--width) / 2);
	max-width: 100%;
	background: #cddc3926;
}

.portfolio-person {
	max-width: calc((100% - ((var(--grid-count) - 1) * var(--grid-gap))) / var(--grid-count));
	width: 100%;
	font-size: 16px;
}

.portfolio-person__role {
	font-size: 85%;
}
