/* TODO: [LIGHT] внедрить --grid-width */
/*
	@media (min-width: 576px | 720px | 1024px | 1380px | 1600px) {
	--grid-count: 1;
	--grid-gap: 16px;
	width: calc((100% - ((var(--grid-count) - 1) * var(--grid-gap))) / var(--grid-count));
	gap: var(--grid-gap);
*/
.metro-tile {
	white-space: normal;
	min-width: 256px;
	height: 185px;
	margin: 0 24px 0 0;
}

@media (min-width: 768px) {
	.metro-tile {
		min-width: 358px;
	}
}
