.merchant-text-page {
	--background: #fff;
	--color-text: #222;
	--gap: 16px;

	padding: var(--gap) 0 calc(var(--gap) * 5) 0;
	min-height: 75vh;
	font-family: 'Alegreya Sans', sans-serif;
	background: var(--background);
	color: var(--color-text);
	font-size: 16pt;
	line-height: 1.5;
}

.merchant-text-page li {
	padding-bottom: calc(var(--gap) / 4);
}
