.project-viewer {
	background: #fff;
	font-family: Alegreya Sans, sans-serif;

	--standard-width: 55rem;
}

.project-viewer .content {
	margin-bottom: 96px;
}

/*
  Заголовки
*/

.project-viewer h1 {
	font-weight: 400;
	text-decoration: none;
	line-height: 1;
	font-size: 40px;
	text-align: center;
	margin: 128px 0;
	opacity: 0;
	animation: ani 1s forwards;
}

@media (min-width: 768px) {
	.project-viewer h1 {
		font-size: 64px;
	}
}

.project-viewer h2 {
	font-size: 170%;
	margin-top: 1em;
	margin-bottom: .5em;
}

.project-viewer h3 {
	font-size: 150%;
}

.project-viewer h4 {
	font-size: 120%;
}


.project-viewer img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.project-viewer__date {
	text-align: center;
	padding: 16px 0;
	font-feature-settings: 'lnum', 'tnum';
}

.announce__text,
.announce__header {
	max-width: 58rem;
	margin: 16px auto;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 1.6;
}

@media (min-width: 768px) {
	.announce__text {
		font-size: 18px;
	}
}

/*
  Задача и ссылка на сайт
*/

.task {
	display: flex;
	gap: 8px;
	padding: 16px calc(50% - var(--standard-width) / 2);
	background: #f8fae1;
}
.task:before {
	content: 'Задача: ';
}
.task__text {
	width: 70%;
}
.task__date {
	font-feature-settings: 'lnum', 'tnum';
}
@media (max-width: 576px) {
	.task__text {
		margin-bottom: 16px;
	}

	.task__date {
		width: 100%;
		margin-left: 0;
	}
}
.site-link {
	padding: 16px calc(50% - var(--standard-width) / 2);
	background: rgba(255, 255, 17, .2);
}
@media (max-width: 576px) {
	.site-link {
		padding-left: 1rem;
	}
}


/*
  Картинки
*/

.announce__picture {
	text-align: center;
	margin: 20px;
}
.announce__picture a {
	border-bottom: none !important;
}

/*
  Подписи к картинкам
*/
.announce__picture-note {
	box-sizing: border-box;
	display: block;
	max-width: 30rem;
	margin: 20px 100px 30px 50%;
	padding-left: 100px;
	width: 37%;
}
.announce__picture-note,
.picture-with-note__note {
	font-style: italic;
	font-size: 15px;
	color: #000;
	text-align: left;
	hyphens: auto;
}
@media (max-width: 576px) {
	.announce__picture-note {
		margin: 1rem 1rem 1rem 2rem;
		padding-left: 1rem;
		width: calc(100% - 3rem);
	}
}
.announce__picture-note--sticky {
	position: sticky;
	top: 60px;
}
.container-panel--50 .announce__picture-note,
.container-panel--30 .announce__picture-note {
	margin: 1rem 1rem 1rem 4rem;
	width: calc(100% - 5rem);
	padding: 0;
}
.announce__picture-note--mini {
	box-sizing: border-box;
	display: block;
	margin: 1rem 1rem 1rem 3rem;
	width: calc(100% - 4rem);
	font-style: italic;
	font-size: 75%;
}


/*
  Браузер
*/

.browser {
	box-shadow: rgba(95, 95, 95, 0.5) 0 20px 80px -20px;
	user-select: none;
	display: block !important;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 12px;
	text-decoration: none;
	width: fit-content;
	max-width: min(1200px, 90%);
}
.browser__topbar {
	display: flex;
	height: 40px;
	align-items: center;
	justify-content: left;
	background: #e6e6e6;
}
.browser__address {
	margin-left: 10%;
	display: flex;
	width: 84%;
	height: 24px;
	align-items: center;
	justify-content: left;
	color: #646464;
	font-size: 15px;
	background: #fff;
	border-radius: 4px;
	padding-left: 1rem;
	margin-right: 5px;
	white-space: pre;
	overflow: hidden;

}
@media (max-width: 576px) {
	.browser__address {
		margin-right: 5px;
	}
}
.browser__screen {
	position: relative;
	display: block;
	width: fit-content;
	max-width: 100%;
	overflow: hidden;
}
.browser__screen img {
    max-width: 100%;
}



.announce__composition {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.picture-with-note__picture {
	width: 65%;
}

.picture-with-note__note {
	width: 35%;
	max-width: 30rem;
}


@media (max-width: 576px) {
	.picture-with-note__picture,
	.picture-with-note__note {
		width: 100%;
	}
}


.project-viewer ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 1.3em;
}

.project-viewer ul li {
	position: relative;
}

.project-viewer ul li:before {
	content: '—';
	position: absolute;
	left: -1.3em;
}

.project-viewer pre {
	background: rgba(125, 125, 125, 0.05);
	overflow: auto;
}


/*
  Цитаты, письма, примеры
  Модификатор блока
*/

.letter {
	background-color: rgba(245, 220, 131, 0.32);
	padding: 32px calc(50% - var(--standard-width) / 2);
}
@media (max-width: 576px) {
	.letter {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
.project-viewer blockquote {
	border-left: 5px solid #cacaca;
    padding: 16px 24px;
    margin: 0;
}
.project-viewer blockquote *:last-child {
	margin-bottom: 0;
}
.example {
	padding: 32px 0;
	background: #cddc3926;
}
.case {
	padding: 32px calc(50% - var(--standard-width) / 2);
	margin: 16px auto;
	background: #cddc3926;
	border-radius: 16px;
}
.case__item {
	background: #fff;
	padding: 24px;
	border-radius: 24px;
	margin: 24px 0;
	border: 1px solid #e9e9e9;
}



/*
  Единица смысла
*/
.unit-of-sense {
	padding: 80px calc(50% - var(--standard-width) / 2);
	background: #64B5F6;
	color: #fff;
	position: relative;
}

.unit-of-sense:before,
.unit-of-sense:after {
	content: ' ';
	display: block;
	height: 48px;
	background: #fff;
	position: absolute;
	left: 0;
	width: 100%;
}
.unit-of-sense:before {
	top: -1px;
	-webkit-clip-path: polygon(0 100%, 0 0, 100% 0);
	clip-path: polygon(0 100%, 0 0, 100% 0);
}
.unit-of-sense:after {
	bottom: -1px;
	-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
	clip-path: polygon(0 100%, 100% 100%, 100% 0);
}
.unit-of-sense__main {
	font-size: 350%;
	line-height: 1;
	transform: matrix(1, -0.07, 0, 1, 0, 0);
	letter-spacing: -0.02em;
	font-weight: 400;
}
.unit-of-sense__note {
	font-style: italic;
	padding: 48px calc(50% - var(--standard-width) / 2);
}
@media (max-width: 576px) {
	.unit-of-sense__main {
		font-size: 1.7rem;
		padding: 0 15px;
	}
	.unit-of-sense__note {
		padding-left: calc((100% - 10rem) / 2);
	}
}



/*
  Секторы
*/

.sector-sum {
	padding-top: 15vh;
	padding-bottom: 15vh;
}

.sector-sum--top {
	padding-top: 15vh;
}

.sector-sum--bottom {
	padding-bottom: 15vh;
}

.sector-sum--half {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.announce__sector {
	padding-top: 10vh;
	padding-bottom: 10vh;
}






.announce__main-header {
	text-align: center;
	padding: 2rem 8px;
}

.horizontal-pic-gallery {
	overflow-x: auto;
	width: 100%;
	max-width: min-content;
	min-width: 100%;
	height: 50vh;
	display: flex;
	align-items: center;
	padding-bottom: 80px;
	justify-content: flex-start;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.horizontal-pic-gallery {
		height: 70vh;
	}
}
.horizontal-pic-gallery__content {
	display: inline-flex;
	gap: 20px;
	height: 100%;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
}
.horizontal-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-width: max-content;
	height: 100%;
	flex-wrap: nowrap;
}
.horizontal-item img {
	object-fit: cover;
	border-radius: 8px;
	min-width: 310px;
	max-width: 100%;
	max-height: 100%;
	aspect-ratio: auto;
	height: 100%;
	width: auto;
}
.horizontal-item video {
	height: 100%;
	width: auto;
}
.horizontal-item__note {
	box-sizing: border-box;
	display: block;
	max-width: 30rem;
	width: 80%;
	color: #000;
	font-size: 70%;
	font-style: italic;
	hyphens: auto;
	text-align: left;
	margin-top: 1rem;
	margin-right: 0;
	margin-bottom: 1rem;
	margin-left: 20%;
}

.announce__big-pic {
	max-height: 60vh;
	border-radius: 8px;
	max-width: 100%;
}

.announce__info-table {
	overflow: scroll;
}

.announce__info-table table {
	width: 100%;
	padding: 2rem 1rem 4rem 1rem;
	font-size: 100%;
	border-spacing: 0;
}
.announce__info-table td {
	border-bottom: 1px solid #efefef;
	padding: 1rem 1rem 0.2rem 1rem;
}

.announce__card-table {
	width: 100%;
	padding: 2rem 2rem 4rem 2rem;
	font-size: 100%;
	border-spacing: 0;
}

.announce__card-table {
	display: block;
}
@media (min-width: 768px) {
	.announce__card-table {
		display: table;
	}
}
.announce__card-table td {
	display: block;
	padding: 1rem 1rem 0.2rem 1rem;
	vertical-align: top;
}
@media (min-width: 768px) {
	.announce__card-table td {
		display: table-cell;
	}
}
.announce__card-table p {
	max-width: 40rem;
}
.announce__card-table img {
	max-width: 200px;
}

.announce__pic-table {
	margin: auto;
}
.announce__pic-table td {
	padding: 1rem;
	display: block;
}
@media (min-width: 768px) {
	.announce__pic-table td {
		display: table-cell;
	}
}

/*
  Лейауты
*/

.container-row {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 0 16px;
}
@media (min-width: 768px) {
	.container-row {
		flex-direction: row;
	}
}

@media (min-width: 768px) {
	.container-panel--70 {
		width: 70%;
	}
	.container-panel--30 {
		width: 30%;
	}
	.container-panel--50 {
		width: 50%;
	}
}



/*
  Важные слова
*/

.word-of-the-year {
	font-size: 500%;
	font-weight: 500;
	font-size: 450%;
	background: linear-gradient(135deg, #A855F7 0%, #EC4899 25%, #F59E0B 50%, #10B981 75%, #3B82F6 100%);
	background-clip: text;
	background-size: 95% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	text-align: center;
	line-height: 1.1;
	letter-spacing: 0.3;
}


/*
  Оформление блоков
*/
.important-board {
	background: #F5F5EA;
	padding: 24px 0;
}

/*
  Фактоиды
*/

.result-metric {
	max-width: 45rem;
	margin: 16px auto;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}

.result-metric__metric {
	font-size: 6vh;
	line-height: 1.2;
}

@media (min-width: 768px) {
	.result-metric__metric {
		font-size: 10vh;
		line-height: 1.2;
	}
}

.factoid-gallery {
	display: flex;
	flex-direction: row;
	gap: 24px;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	margin-top: 24px;
	margin-bottom: 24px;
}
.factoid-gallery__item {
	max-width: 70%;
}
.factoid-gallery__counter {
	font-size: 400%;
    line-height: 1;
	font-feature-settings: "lnum", "tnum";
}
.factoid-gallery__description {
	font-size: 85%;
}


@media (min-width: 768px) {
	.announce__text {
		font-size: 18px;
	}
}








@keyframes ani {
	0% {
		opacity: 0;
		transform: translateY(15px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}




.grid-table-two {
	display: grid;
	grid-template-columns: 6fr 9fr;
	grid-gap: 16px;
	margin-bottom: 24px;
	padding: 24px;
}
.grid-table-two__header {
	font-weight: 600;
}
.grid-table-two__section {
	grid-column-start: 1;
	grid-column-end: 3;
}
