/* add identity className */
.faq-list {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.faq-list a {
	color: #000000c9;
}

.faq-list__name {
	display: inline;
	color: #000000c9;
	border-bottom: 1px solid #0000001e;
}

.faq-list__link {
	width: 100%;
	padding: 0 16px;
	transition: 150ms ease-in;
	border: none;
}

.faq-list__link:hover .faq-list__name {
	border-color: #000000c9;
}
