@import url(https://fonts.googleapis.com/css?family=Oswald:400);
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&family=Inter&display=swap');

:root {
	--text-block-width: 45rem;
}

body * {
	box-sizing: border-box;
}

body {
	font: 400 14pt/1.4 PT Sans, Tahoma, Sans-Serif;
	margin: 0;
	background: #fff;
	color: #000;
}

@media (max-width: 500px) {
	body {
		font-size: 13pt;
	}
}

.container {
	margin: 0 auto;
	margin-bottom: 1rem;
	max-width: 80rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

@media (min-width: 576px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

/* TODO: #0d44a0 ховер #c00 визитед #0d44a0 */
a {
	color: #3984d4;
	text-decoration: none;
	border-bottom: 1px solid #3984d459;
}

a:hover {
	border-color: #3984d4;
}

p {
	margin: 0 0 1rem 0;
}

.about {
	display: flex;
	max-width: var(--text-block-width);
	margin: 0 auto;
}

.about__description {
	max-width: 100%;
	z-index: 1;
}

.project.container {
	max-width: 100%;
}

.page.magic {
	background: rgba(70, 0, 105, 0.93);
}

.page.magic header {
	color: #fff;
	fill: #fff;
}

.page.magic footer {
	background: linear-gradient(
		180deg,
		rgb(83, 18, 115) 0%,
		rgb(135, 45, 179) 23%,
		rgb(168, 111, 195) 54%,
		rgb(240, 209, 255) 100%
	);
	color: #fff;
}

.page.magic footer a {
	color: #fff;
	opacity: .5;
	transition: ease-in 100ms;
}

.page.magic footer a:hover {
	opacity: 1;
}

.magic-ball {
	position: relative;
	width: 100%;
	height: 70vh;
}

.epos {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.eball {
	height: 400px;
	width: 400px;
	background: rgba(30, 30, 30, 0.69);
	border-radius: 100%;
	overflow: hidden;
	position: relative;
	box-shadow:
		inset -30px 40px 90px -50px rgba(255, 255, 255, 0.4),
		inset 5px -30px 70px 20px rgb(17, 0, 29),
		inset 5px -5px 50px rgba(0, 0, 0, 1),
		inset 50px -50px 130px rgba(0, 0, 0, 1),
		inset 0px -20px 20px rgba(60, 0, 60, 1)
	;
}

.illuminator {
	position: absolute;
	background: linear-gradient(45deg, rgba(20, 0, 20, 1) 0%, rgba(40, 0, 40, 1) 100%);
	width: 160px;
	height: 160px;
	border-radius: 100%;
	border: solid 4px rgba(20, 20, 20, 0.8);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.triangle {
	transform: translate(-50%, -50%) rotate(5deg);
	position: absolute;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 60%;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 90px solid rgba(60, 10, 120, 0.0);
	opacity: 0;
	transition: ease-in all 0.2s;
}

.textbox {
	font: 400 11px Oswald;
	text-shadow: 1px 1px 2px rgba(40, 0, 200, 0.8);
	color: rgba(240, 220, 240, 0.8);
	text-align: center;
	line-height: 1.1;
	transform: translate(-50%, -50%) rotate(5deg);
	position: absolute;
	text-transform: uppercase;
	width: 48px;
	height: 50px;
	left: 50%;
	top: 53%;
	opacity: 0;
	transition: ease-in all 0.2s;
}

.eball:hover .textbox {
	opacity: 1;
	transform: translate(-50%, -50%) rotate(0deg);
	transition: ease-in all 0.2s;
}

.eball:hover .triangle {
	border-top: 90px solid rgba(60, 10, 120, 0.9);
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
	transition: ease-in all 0.2s;
}

.shadow {
	background: rgba(58, 0, 55, 0.52);
	border-radius: 100%;
	height: 200px;
	width: 200px;
	filter: blur(40px);
	position: absolute;
	margin-top: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scaleY(0.1);
	z-index: 1;
}

.bg-image__fixed,
.bg-image__horizont {
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
}

.bg-image__fixed {
	background-attachment: fixed;
}

.bg-image__horizont {
	min-height: 100vh;
}

.margin-2 {
	margin: calc(15px * 2);
}

.text--large {
	font-size: 3rem;
}

.organisation-list {
	margin: 0 auto;
	max-width: 540px;
	font-size: 1.2rem;
	line-height: 1.8;
	padding: 0;
	list-style-type: none;
}

.organisation-list__item {
	margin-bottom: 16px;
}

.album-list {
	flex-wrap: wrap;
	display: flex;
}

.album-list__item.album {
	border: 0;
	display: flex;
	flex-direction: column;
	width: calc(25% - 30px);
	max-width: 290px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 40px;
	position: relative;
}

.album__name {
	background: linear-gradient(rgba(21, 216, 234, .3), rgba(32, 73, 185, .9));
	color: #fff;
	padding: 5px 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.album__image {
	min-height: 210px;
	width: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

form.container {
	display: grid;
	grid-template-columns: 9rem 16rem;
	grid-gap: 1rem;
	padding: 32px;
	border-radius: 16px;
	background: #e6d6902e;
	box-shadow:
		0 1px 1px 0px #09789180,
		0 8px 16px 0 #0978911a,
		0 16px 16px 0 #0978910d;
}

.form__button {
	grid-column-start: 1;
	grid-column-end: 3;
}

.pseudo-link {
	cursor: pointer;
	border-bottom: 1px dashed #00000059;
}

.pseudo-link:hover {
	border-color: #000;
}

h1 {
	font-weight: 400;
}

h2 {
	font-size: 24px;
	font-weight: 400;
}

h3 {
	font-weight: 400;
}

.nowrap {
	white-space: nowrap
}

.yandex-map {
	animation: ani 500ms forwards;
}

@keyframes ani {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
