.vk-identity-page {
	--background--main: #fff;
	--background--form: #f2f3f5;
	--background--code: #f9f9f9;
	--background--accent: #f9f9f9;

	--border-color--main: #e1e3e6;
	--border-color--field: #0000001f;

	background: var(--background--main);
	padding: 32px 0;
	font-family: Roboto, sans-serif;
	font-size: 15px;
}

.vk-identity-page form {
	background: var(--background--form);
	padding: 16px 16px;
	border: 1px solid var(--border-color--main);
	max-width: 35rem;
}

.vk-identity-page input,
.vk-identity-page textarea {
	border: 1px solid var(--border-color--field);
	background: var(--background--main);
	color: #000;
    border-radius: 8px;
    box-sizing: border-box;
	padding: 8px 8px;
	max-width: 65rem;
	margin: 0 auto;
}
