/* TODO: [LIGHT] внедрить --grid-width */
/*
	@media (min-width: 576px | 720px | 1024px | 1380px | 1600px) {
	--grid-count: 1;
	--grid-gap: 16px;
	width: calc((100% - ((var(--grid-count) - 1) * var(--grid-gap))) / var(--grid-count));
	gap: var(--grid-gap);
*/
.tiles-gallery {
	font-family: 'Alegreya Sans', sans-serif;
}

.tiles-gallery__title {
	font-size: 32px;
	line-height: 1;
	margin-top: 0;
	margin-bottom: .75em;
}

@media (min-width: 768px) {
	.tiles-gallery__title {
		font-size: 64px;
		padding: 0 12px;
	}
}

.tiles-gallery__columns {
	display: flex;
	flex-direction: column;
}

.tiles-gallery__columns--single {
	flex-direction: row;
	justify-content: center;
}

@media (min-width: 768px) {
	.tiles-gallery__columns {
		flex-direction: row;
	}
}

.tiles-gallery__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tiles-gallery__container:not(:last-child) {
	margin-right: 12px;
}

.tiles-gallery__columns--single .tiles-gallery__container {
	width: 100%;
	max-width: 680px;
}

@media (min-width: 768px) {
	.tiles-gallery__container {
		width: 50%;
	}
}
