:root {
	--project-size: 624px;
	--project-gap: 8px;
	--project-border-radius: 6px;
	--project-image-max-heigth: 70vh;
}

.project__item {
	pointer-events: all;
	transition: all 150ms ease-in;
	width: 25%;
	overflow: hidden;
	border-radius: var(--project-border-radius);
	display: flex;
    flex-direction: column;
}

.project__item--high-size { width: 100%; }
.project__item--big-size { width: 100%; }
.project__item--normal-size { width: calc(50% - var(--project-gap)); }
.project__item--small-size { width: 100%; }

@media (min-width: 768px) {
	.project__item--big-size { width: calc(50% - var(--project-gap)); }
	.project__item--normal-size { width: calc(25% - var(--project-gap)); }
}

.project__image {
    display: flex;
	height: 100%;
	position: relative;
	pointer-events: all;
	border: 0;
	overflow: hidden;
}

.project__image-anons {
	transition: all 75ms ease-in-out;
	transform: scale(0.975);
    object-fit: contain;
    width: 100%;
    height: 100%;
	max-height: var(--project-image-max-heigth);
	border-radius: var(--project-border-radius);
}

.project__item:hover .project__image-anons {
	transform: scale(1);
}

.project__name {
	order: 2;
	pointer-events: all;
	line-height: 1.2;
}

.project__title {
	transition: all 200ms ease-out;
	text-decoration: none;
	display: inline;
	pointer-events: all;
	color: #000;
}

a.project__title {
	border-bottom: 1px solid rgb(14, 66, 111, .15);
	color: rgb(14, 66, 111);
}

.project__item:hover a.project__title {
	border-bottom: 1px solid rgba(14, 66, 111, .45);
}

.project__tags {
	transition: all 150ms ease-in;
	display: flex;
    flex-wrap: wrap;
	gap: 4px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #d7d7d740;
	backdrop-filter: blur(15px);
	padding: 8px 6px 6px;
	width: 100%;
	border-radius: 6px 6px 0 0;
	pointer-events: none;
	opacity: 0;
}

.project__item:hover .project__tags {
	opacity: 1;
}

.project__tag {
	background: #d8ece4;
	padding: .05em .25em .15em .25em;
	border-radius: .25em;
	font-size: 16px;
	line-height: 1;
	color: #00160da3;
}
