.my-items-invite {
}

.my-items-invite__header {
}

.my-items-invite__gallery {
	display: flex;
	flex-wrap: wrap;
	padding: 24px;
}

.my-items-invite__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: normal;
	padding: 16px;
	margin: 0 24px 24px 0;
	min-width: 200px;
	max-width: 200px;
	height: 200px;
	background: radial-gradient(215% 130% at 30% 95%, #f2da83 0%, rgba(249, 231, 73, 0.08) 100%);
}

@media (min-width: 1024px) {
	.my-items-invite__item {
		min-width: 400px;
		max-width: 400px;
		height: 400px;
	}
}

.my-items-invite__title {
	font-size: 24px;
	line-height: 1.1;
}

@media (min-width: 1024px) {
	.my-items-invite__title {
		font-size: 48px;
	}
}

.my-items-invite__description {
	font-size: 16px;
	line-height: 1.6;
}
