.library-gallery {
	--grid-count: 2;
	--grid-gap: 8px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--grid-gap);
	padding: var(--grid-gap);
}

@media (min-width: 576px) {
	.library-gallery {
		--grid-count: 3;
	}
}
@media (min-width: 768px) {
	.library-gallery {
		--grid-count: 5;
		--grid-gap: 32px;
	}
}
@media (min-width: 1380px) {
	.library-gallery {
		--grid-count: 7;
	}
}
@media (min-width: 1600px) {
	.library-gallery {
		--grid-count: 9;
	}
}

.library-gallery__item {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	line-height: 1.3;
	width: calc((100% - ((var(--grid-count) - 1) * var(--grid-gap))) / var(--grid-count));
}

.library-gallery__cover {
}

.library-gallery__img {
	max-width: 100%;
	width: auto;
	height: auto;
	border-radius: 6px;
}

.library-gallery__author {
	color: #00000075;
	font-size: 12px;
}

.library-gallery__name {
	font-size: 14px;
	line-height: 1.2;
}

@media (min-width: 768px) {
	.library-gallery__name {
		font-size: 16px;
		line-height: 1.3;
	}
}

.library-gallery__meta {
	color: #00000075;
	font-size: 12px;
}

.library-gallery__addon {
}

.library-gallery__isbn {
}

.library-gallery__anons {
	display: none;
}
