.pinarik-form {
	margin-top: 80px;
	margin-bottom: 80px;
}

.pinarik-form label {
	display: flex;
	width: 100%;
	margin-bottom: .5rem;
}

.pinarik-form input {
	display: flex;
	width: 100%;
	margin-bottom: 1rem;
}

.pinarik-form textarea {
	display: flex;
	width: 100%;
	min-height: 6rem;
	margin-bottom: 1rem;
}

.pinarik-form button {
	background: #4949ff;
	border: 0;
	color: white;
	padding: 0.5rem 1.4rem;
	border-radius: .3rem;
}

.pinarik-form button:hover {
	opacity: .75;
}
