.tourism-city-star {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px;
	padding: 16px 0;
}

.tourism-city-star__item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px;
}

.tourism-city-star__title {
	border-bottom: 1px solid rgba(255, 255, 255, .35);
}
.tourism-city-star__title:hover {
	cursor: pointer;
	border-bottom-color: #fff;
}

.tourism-city-star__star {
	color: var(--color-accent);
}
