.blog-invite {
	background: #efefef;
	color: #000;
}

.blog-invite__item {
	margin-left: -4px;
	margin-right: -4px;
}

.blog-invite__item--archive {
	opacity: .7;
}

.blog-invite__name sup {
	font-size: 65%;
}
